/* CSS declarations go here */
body {
  font-family: sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

header {
  background: black;
  color: white;
  padding: 20px 15px 0 15px;
  position: relative;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

button {
  border: none;
  background: none;
}

input {
  font-size: 12px;
}

#login-buttons {
  padding: 4px 0 0 10px;
  display: block;
  float: right;
}

.menu-container {
  float: right;
}

.new-task input {
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  padding: 12px 12px 12px 12px;
}

.new-task input:focus{
  outline: none;
}

.actions-container {
  font-size: 13.33px;
  float: right;
}

.toggle-private {
  background: none;
  border: none;
}

.toggle-comments {
  background: none;
  border: none;
}

.delete {
  background: none;
  border: none;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border: #ddd solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {

}

/* Comment Component */
.comment-container {
  padding: 5px 15px 5px 50px;
  /*border: #ddd solid 1px;*/
}

.comment-author {
  margin: 0;
  padding: 2px 0 2px 0;
  font-size: 12px;
  font-weight: bold;
}

.comment-date {
  margin: 0;
  padding: 2px 0 2px 0;
  font-size: 10px;
}

.comment-content {
  margin: 0;
  padding: 3px 0 3px 0;
  font-size: 12px;
  width: 100%;
}

.comment-reply-container {
  padding-left: 30px;
}

.comment-reply-btn {
  font-size: 10px;
}

.comment-like-btn {
  font-size: 10px;
}

.comment-edit-btn {
  font-size: 10px;
}

.comment-show-replies-btn {
  font-size: 10px;
}

.comment-add-form {
  padding: 5px 15px 5px 50px;
}

.comment-edit-form {
  font-size: 10px;

}
